@model GitName.Models.MyJSon

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>MyJSon</h4>
    @using (Html.BeginForm())
    {
        <p>
            Git Username: @Html.TextBox("SearchString") <br />
            <input type="submit" value="Find" />
        </p>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.node_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.node_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avatar_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avatar_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gravatar_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gravatar_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.html_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.html_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.followers_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.followers_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.following_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.following_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gists_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gists_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.starred_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.starred_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subscriptions_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subscriptions_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.organizations_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organizations_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.repos_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.repos_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.events_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.events_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.received_events_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.received_events_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.site_admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.site_admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.public_repos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.public_repos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.public_gists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.public_gists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.followers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.followers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.following)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.following)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

    </dl>
</div>

